body {
  background: #141414;
  width: 100vw;
  height: 100vh;
}

.overflow-scroll {
  overflow-x: auto; 
  white-space: nowrap;
  scrollbar-width: none; 
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  gap: 16px;
}

.overflow-scroll::-webkit-scrollbar {
  display: none;
}
